@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: #fff;
	--background: #fff;
	--background: #1b1b1b;
	--blob-color: #353535;
	color-scheme: dark;

	/* b54 colors */
	--b54-gray-1: #f3f3f3;
	--b54-gray-2: #e1e1e1;
	--b54-gray-3: #a6a6a6;
	--b54-gray-4: #4f4f4f;
	--b54-primary: #000;
	--b54-background: #fff;
	--b54-secondary: #4f4f4f;
	--b54-yellow: #FFCC00;
	--b54-green: #00CC66;
	--b54-blue: #0B8F99;

	/* shara colors */
	--shara-gray-1: #949494;
	--shara-gray-2: #939393;
	--shara-gray-3: #929292;
	--shara-gray-4: #8c8c8c;
	--shara-green-1: #238b71;
	--shara-green-2: #11863c;
	--shara-primary: #000;
	--shara-background: #fff;
	--shara-secondary: #939393;
}

.light {
	--foreground: rgb(228, 228, 228);
	--background: #000;
	--blob-color: #d4d4d4;

	/* b54 colors */
	--b54-gray-1: #4a4a4a;
	--b54-gray-2: #e1e1e1;
	--b54-gray-3: #a6a6a6;
	--b54-gray-4: #fff;
	--b54-primary: #fff;
	--b54-background: #404040;
	--b54-secondary: #a6a6a6;

	/* shara colors */
	--shara-gray-1: #fff;
	--shara-gray-2: #fff;
	--shara-gray-3: #fff;
	--shara-gray-4: #fff;
	--shara-green-1: #238b71;
	--shara-green-2: #fff;
	--shara-primary: #fff;
	--shara-background: #404040;
	--shara-secondary: #939393;
}

body {
	color: var(--foreground);
	background: var(--background);
	transition: background 0.8s ease-in-out;
	user-select: none;
}

.light-bar {
	color-scheme: light;
}