@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: hsl(0, 0%, 11%);
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--background: hsl(0, 0%, 100%);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 27, 27, 27;
		--background-end-rgb: 0, 0, 0;
		--background: hsl(0, 0%, 10%);
	}
} */

.dark {
	--foreground: hsl(0, 0%, 100%);
	--background-start-rgb: 27, 27, 27;
	--background-end-rgb: 0, 0, 0;
	--background: hsl(0, 0%, 10%);
}

body {
	color: rgb(var(--foreground));
	/* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
	background: var(--background);
}
